<h1>Welcome</h1>
<p>Welcome to my stories</p>
<p>Post stories from your worst and best Experiences from your life and choose for them to be read by my world or completely private as your own little diary :)</p>
<a class='btn red darken-1' href="/auth/google"><i class="fa fa-google left"></i>&nbsp;Login with Google</a>